@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@mixin absolute-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
