// src/components/ProductCarousel/ProductCarousel.scss
@import "../../styles/variables";
@import "../../styles/mixins";

.product-carousel {
  padding: $spacing-xl 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  .product_carousel__tab_btn {
    border: none;
    border-bottom: none;
    background: $color-gray-200;
    padding: 15px 25px;
    margin: 0px 2px;
    border-bottom: 2px solid $color-gray-200;
    transition-duration: 0.3s;
    transition-property: border-bottom color;
    border-radius: 5px;
    // box-shadow: inset 5px 5px 10px rgba($color: #000000, $alpha: 0.1);
    cursor: pointer;
  }
  .is-active {
    color: rgb(255, 196, 0);
    border-bottom: 2px solid $color-border;
  }

  &__container {
    @include container;
    padding: 0 $spacing-md;
  }

  &__header {
    text-align: center;
    margin-bottom: $spacing-lg;
  }

  &__title {
    font-size: $font-size-xl * 1.5;
    font-weight: 300;
    margin-bottom: $spacing-lg;
  }

  &__tabs {
    display: inline-flex;
    border-bottom: 1px solid gold;
  }

  &__tab {
    padding: $spacing-sm $spacing-md;
    font-size: $font-size-sm;
    transition: color 0.3s ease;
    position: relative;

    &.is-active {
      color: $color-primary;

      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-primary;
      }
    }
  }
}
